.header__lang-link {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    margin-left: 84px;
    cursor: pointer;

}

.header__lang-link:last-child {
    text-decoration: none;
    margin-left: 18px;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        margin-left: 467px;
        font-size: 24px;
        line-height: 28px;  
    }
}

@media screen and (min-width: 1024px) {
    .header__lang-link {
        margin-left: 675px;
        right: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .header__lang-link {
        margin-left: 931px;
    }
}
