.cover__background {
  background-image: url(../../../images/__background.png);
  width: 100%;
  min-height: 200px;
  margin-top: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .cover__background {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    max-width: 1184px;
    margin: 0 48px;
  }
}